<%- include('../navbar.ejs') %>

<%if(msg){%>
    <%if(msg=='User eliminado'){%>
        <div class="alert alert-success" role="alert">
            <h3><%- msg%></h3>
          </div>
    <%}%>
<%}%>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Direccion</th>
            <th>Codigo postal</th>
            <th>Telefono</th>
            <th>Tipo de documento</th>
            <th>Numero de documento</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% users.forEach(function(user){ %>
            <tr>
                <td><%= user.id %></td>
                <td><%= user.email %></td>
                <td><%= user.name %></td>
                <td><%= user.surnames %></td>
                <td><%= user.address %></td>
                <td><%= user.postalCode %></td>
                <td><%= user.phoneNumber %></td>
                <td><%= user.documentType %></td>
                <td><%= user.documentNumber %></td>
                <td>
                    <form id="formulario" action="/users/update" method="POST" >

                        <input type="hidden" name="id" value="<%= user.id %>">
                        <input type="hidden" name="password" value="<%= user.password %>">
                        <input type="hidden" name="email" value="<%= user.email %>">
                        <input type="hidden" name="name" value="<%= user.name %>">
                        <input type="hidden" name="surnames" value="<%= user.surnames %>">
                        <input type="hidden" name="address" value="<%= user.address %>">
                        <input type="hidden" name="postalCode" value="<%= user.postalCode %>">
                        <input type="hidden" name="phoneNumber" value="<%= user.phoneNumber %>">
                        <input type="hidden" name="documentType" value="<%= user.documentType %>">
                        <input type="hidden" name="documentNumber" value="<%= user.documentNumber %>">
                        <input type="submit" class="btn btn-primary" value="Edit">
                        

                    </form>
                   
                    <form id="formulario" action="/users/delete" method="POST">
                        <input type="hidden" name="id" value="<%= user.id %>">
                        <input type="submit" value="Delete" class="btn btn-danger">
                    </form>
                </td>
              

              
            </tr>
        <% }) %>
    </tbody>
</table>





