<%- include('../navbar.ejs') %>
<div class="card" style="width: 40rem;">
    
    <div class="card-body">
    <%if(msg){%>
      <%if(msg=='Usuario actualizado'){%>
          <div class="alert alert-success" role="alert">
              <h3><%- msg%></h3>
            </div>
      <%}else{%>
          <div class="alert alert-warning" role="alert">
              <h3><%- msg%></h3>
          </div>
      <%}%>
    <%}%>
    <form method="post" action="/users/modifyUser">
  
    <div class="form-group">
        <label for="title">Id Usuario</label>
        <input name="id" class="form-control" type="text" value="<%=user.id%>" readonly></input>
    </div>
    </div>
      <div class="form-group">
        <label for="title">Email</label>
        <input name="email" class="form-control" type="email" pattern="^\s*\S*\s*$" value="<%=user.email%>" required ></input>
    </div>
    <div class="form-group">
        <label for="title">Contraseña</label>
        <input name="password" class="form-control" type="password" pattern=".{6,}" value="<%=user.password%>" required></input>
    </div>
    <div class="form-group">
        <label for="title">Nombre</label>
        <input type="text" name="name" class="form-control"value="<%=user.name%>" required></input>
    </div>
    <div class="form-group">
        <label for="title">Apellidos</label>
        <input type="text" name="surnames" class="form-control" value="<%=user.surnames%>" required></input>
    </div>
    <div class="form-group">
        <label for="title">Direccion</label>
        <input type="text" name="address" class="form-control" value="<%=user.address%>" required></input>
    </div>
    <div class="form-group">
        <label for="title">Codigo postal</label>
        <input type="text" name="postalCode" class="form-control" value="<%=user.postalCode%>" pattern=".{5,5}" required></input>
    </div>
    <div class="form-group">
        <label for="title">Telefono</label>
        <input type="text" name="phoneNumber" class="form-control" value="<%=user.phoneNumber%>" pattern=".{9,9}" required></input>
    </div>
    <div class="form-group">
        <label for="title">Tipo de documento</label>
        <input type="text" name="documentType" class="form-control" value="<%=user.documentType%>" pattern=".{3,3}"  required></input>
    </div>
    <div class="form-group">
        <label for="title">Numero de documento</label>
        <input type="text" name="documentNumber" class="form-control"  value="<%=user.documentNumber%>"  pattern=".{9,9}" required></input>
    </div>
      
      <input type="submit" value="Submit" class="btn btn-primary">
  </div>
</form>