<%- include('../navbar.ejs') %>

<%if(msg){%>
    <%if(msg=='Producto eliminado'){%>
        <div class="alert alert-success" role="alert">
            <h3><%- msg%></h3>
          </div>
    <%}%>
<%}%>

<h1 class="display-4">Productos</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id Producto</th>
            <th>Nombre</th>
            <th>Imagen</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Marca</th>
        </tr>
    </thead>
    <tbody>
        <% products.forEach(function(product){ %>
            <tr>
                <td><%= product.id %></td>
                <td><%= product.name %></td>
                <td><%= product.image %></td>
                <td><%= product.description%></td>
                <td><%= product.price%></td>
                <td><%= product.brand%></td>
                <td>
                    <form id="formulario" action="/products/update" method="POST" >

                        <input type="hidden" name="id" value="<%= product.id %>">
                        <input type="hidden" name="name" value="<%= product.name %>">
                        <input type="hidden" name="image" value="<%= product.image %>">
                        <input type="hidden" name="description" value="<%= product.description %>">
                        <input type="hidden" name="price" value="<%= product.price %>">
                        <input type="hidden" name="brand" value="<%= product.brand %>">
                        <input type="submit" class="btn btn-primary" value="Edit">
                        

                    </form>
                   
                    <form id="formulario" action="/products/delete" method="POST">
                        <input type="hidden" name="id" value="<%= product.id %>">
                        <input type="submit" value="Delete" class="btn btn-danger">
                    </form>
                </td>
            </tr>
        <% }) %>
    </tbody>
</table>